<h1>New Game</h1>

<p>Here are your 10 letters:</p>
<ul>
  <% @letters.each do |letter| %>
    <li><%= letter %></li>
  <% end %>
</ul>

<form action="/game/score" method="POST" data-turbo="false">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <label for="word">Enter your word:</label>
  <input type="text" id="word" name="word">
  <button type="submit">Submit</button>
</form>
